
useDynLib(tergm)

importFrom(utils, packageDescription)
importFrom(robustbase, lmrob, covMcd)
importFrom(coda, mcmc, mcmc.list, effectiveSize)
importFrom(nlme, gls, corAR1)
importFrom(stats,simulate)
import(statnet.common, ergm, network, networkDynamic)

# Export all names that do not begin with a dot.
#exportPattern("^[^\\.]")
export(
 # all.same,  made.internal
coefficients.stergm,
coef.stergm, 
combine.networks,
control.logLik.stergm, 
control.simulate.network,
control.simulate.stergm, 
control.stergm,
control.tergm.godfather, 
get.dev,
gof.stergm, 
impute.network.list,
is.lasttoggle, 
logLikNull.stergm,
logLik.stergm, 
mcmc.diagnostics.stergm,
networkDynamic.apply.changes, 
network.extract.with.lasttoggle,
plot.gof.stergm, 
print.gof.stergm,
print.stergm, 
print.summary.stergm,
simulate.network, 
simulate.networkDynamic,
simulate.stergm, 
stergm,
stergm.CMLE, 
stergm.EGMME,
stergm.EGMME.GD, 
stergm.EGMME.initialfit,
stergm.EGMME.SA, 
stergm.EGMME.SA.Phase2.C,
stergm.getMCMCsample, 
summary.gof.stergm,
summary.statistics.networkDynamic, 
summary.stergm,
tergm.godfather, 
to.networkDynamic.lasttoggle
)

# export all the ergm terms
exportPattern("^InitErgmTerm.*")
# export all the MH proposals
exportPattern("^InitMHP.*")
# export all the constaints
exportPattern("^InitConstraint.*")

S3method('coef','stergm')
S3method('gof','stergm')
S3method('logLik','stergm')
S3method('logLikNull','stergm')
S3method('mcmc.diagnostics','stergm')
S3method('plot','gof.stergm')
S3method('print','gof.stergm')
S3method('print','stergm')
S3method('print','summary.stergm')
S3method('simulate','network')
S3method('simulate','networkDynamic')
S3method('simulate','stergm')
S3method('summary','gof.stergm')
S3method('summary.statistics','networkDynamic')
S3method('summary','stergm')